body {
    margin: 0;
    background-color: white;
}

#background-title-section {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assets/unifesp-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(0.464 * 100vw);
}

.section {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.title {
    margin-left: 15%;
    margin-top: 22%;
    width: 25%;
    font-size: 4vw;
    color: white;
    text-align: start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.subtitle {
    margin-left: 15%;
    margin-top: 1%;
    width: 25%;
    font-size: 2vw;
    color: white;
    text-align: start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#first-polygon {
    width: 45vw;
    height: calc(0.464 * 100vw);
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0% 100%);
    float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(sixth_image.jpg);
}

#unifesp-logo {
    background-image: urL('assets/unifesp-logo.png');
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 100px;
    margin-right: 1%;
    margin-top: 1%;
}

#introduction-section {
    background-color: #f8f8f8; /* Cor de fundo para a seção de investigação */
    padding: 2% 10%;
}

.describe-section {
    background-color: #f8f8f8; /* Cor de fundo para a seção de investigação */
    padding: 2% 10%;
}

.section-title {
    font-size: 2.5vw;
    color: #333; /* Cor do título da seção */
}

.subsection {
    margin-top: 2%;
    margin-left: 2%;
}

.subsection-title {
    font-size: 1.5vw;
    color: #333; /* Cor do título da seção */
}
